body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    visibility: hidden;
    position: absolute;
  }
  
  .carousel-image.active {
    visibility: visible;
    position: relative;
  }
  
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  